@font-face {
    font-family: 'Genshin';
    src: url('../ttf/Genshin_basic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Genshin', serif;
}

h1 {
    color: brown;
    text-align: center;
}
